ul.repo-ratings{
    font-size: 1em;
}
li.repo-ratings{
    font-size: 0.8em;
}
a.repo-ratings:hover{
    font-size: 1.2em;
}

.chart rect {
    fill: #f3e3d3;
}

.chart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: start;
}

.repo-header1 {
    text-align: center;
}

.repo-item {
    display: inline-block;
    width: 16em;
    float: left;
    margin: 0.1em;
    min-height: 9em;
}

.panel-label {
    background-color: #dfdfdf;
}
.panel .repo-language {
    display: inline-block;
    font-size: 0.8em;
    float: right;
    margin-right: 1em;
}

.panel .repo-description {
    color: #3a5a60;
    display: inline-block;
    font-size: 0.8em;
}

.panel .stable {
    background-color: #eafeef;
}

.panel .in-development {
    background-color: #fefce6;
}

.panel .inactive {
    background-color: #fee5e9;
}