<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Github Repos</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="index.css">

    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/angular-etag/angular-etag.js"></script>
    <script src="bower_components/github-repo-fetcher/github-repo-fetcher.js"></script>
    <script src="bower_components/repo-fetcher-ratings/repo-fetcher-ratings.js"></script>
    <script src="bower_components/js-yaml/js-yaml.min.js"></script>
    <script src="bower_components/repo-fetcher-meta/repo-fetcher-meta.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <!-- angular app files -->
    <script src="app/app.js"></script>
    <script src="app/common/repo-service.js"></script>
    <script src="app/common/config-service.js"></script>
    <script src="app/common/creds-service.js"></script>
    <script src="app/dashboard/dashboard-controller.js"></script>
    <script src="app/api-rate-limit/api-rate-limit-controller.js"></script>
    <script src="app/user/user-controller.js"></script>

  </head>

  <body ng-app="myApp">
    <div ng-controller="RepoCtrl">
      <div class="container-fluid">
        <div class="row" ng-init="fetch()">
          <div ng-include="user.url"></div>

          <button ng-click="fetch()">Get repo data</button>
        </div>
        <div ng-include="apiRateLimit.url"></div>


        <div class="row">
            <h1 class="repo-header1">Github Repos of {{user.name}}</h1>
        </div>

        <div class="row">
          <div class="col-md-2">
            <div class="sidebar-nav-fixed affix">
              Mini Widgets to go here
              <div>
                foo
              </div>
              <div>
                foo
              </div>
              <div>
                foo
              </div>
              </div>
          </div>

          <div class="col-md-2 col-md-offset-10">
            <div class="sidebar-nav-fixed affix pull-right">
              Controls to go here
              <div>
                foo
              </div>
              <div>
                foo
              </div>
              <div>
                foo
              </div>
            </div>
          </div>

          <div class="col-md-8 col-md-offset-2">
            <div ng-include="mainView.url"></div>

            <!-- main window: see dashboard.html -->


            <!--
            <ul> Github Repos Listed
              <li ng-repeat="repo in selectedRepos">
                  <div>temp
                    <div>{{repo.name}}: {{repo.url}} </div>
                    <div>{{repo._ff_meta_.ratings}} </div>
                  </div>
                  <repo-ratings
                    url="repo.url"
                    name="repo.name"
                    ratings="repo._ff_meta_.ratings">
                  </repo-ratings>
              </li>
            </ul>
            -->
          </div>


        </div>
      </div>
    </div>
  </div>
</body>
</html>
