<div ng-controller="DashboardCtrl">
  <ul>
    <li
      class="repo-item"
      ng-repeat="repo in repos.render">
      <div ng-click="clickTest(repo, $event)" class="panel panel-default">
        <div class="panel-label {{ progressClass(repo) }}">
          <a target="_blank" href="{{repo.html_url}}">{{ repo.name }}</a>
          <span ng-show="repo.fork">(fork)</span>
          <span class="repo-language"> {{ repo.language }}</span>
          <span class="repo-description">
            {{repo.description | limitTo:panelDescriptionLength }}
          </span>
        </div>

        <div ng-show="repo._ff_meta_">
          <repo-graph class="chart" ratings="repo._ff_meta_.ratings">
          </repo-graph>
          {{ progressClass(repo) }}
        </div>

        <!--
        <div>
          <input type="checkbox" ng-click="actionizeRepo(repo)">
          <label>
            {{ do.fetchMeta &&
               do.somethingElse
               ? 'Do Actions!' : 'Select for Action' }}
          </label>
        </div>
        -->

      </div>

    </li>
  </ul>
  <button ng-click="renderPrev()">Prev</button>
  <button ng-click="renderNext()">Next</button>

</div>