<div ng-controller="DashboardControlsCtrl">
  <div class="nav nav-justified data-control">
    <h3>Data Control</h3>

    <ul class="list-group" > <h4>Apply</h4>
      <li class="list-group-item">
        <input
          type="checkbox"
          ng-model="do.fetchMeta">
        <label>Custom Meta Data (changing has no affect)</label>
      </li>
    </ul>

    <ul class="list-group config" > <h4>Sort</h4>
      <li class="list-group-item">
        <input
        <label>TBD</label>
      </li>
    </ul>

    <ul class="list-group config" > <h4>Config</h4>
      <li class="list-group-item">
        <input
          type="number"
          ng-model="viewPort.limit"
          ng-pattern="/^\d+$/">
        <label>Repos in View</label>
      </li>
      <li class="list-group-item">
        <input
          type="number"
          ng-model="fetchLimit.unauth">
        <label>Repos to get (unauth)</label>
      </li>
      <li class="list-group-item">
        <input
          type="number"
          ng-model="fetchLimit.auth">
        <label>Repos to get (authed)</label>
      </li>
    </ul>
  </div>
</div>