<div ng-controller="DashboardControlsCtrl">
  <div class="nav nav-justified data-control">
    <h3>Data Control</h3>

    <ul class="list-group" > <h4>Apply</h4>
      <li class="list-group-item">
        <input
          type="checkbox"
          ng-model="do.fetchMeta">
        <label>Custom Meta Data (changing has no affect)</label>
      </li>
    </ul>

    <ul class="list-group config" > <h4>Initial Fetch Sort</h4>
      <li class="list-group-item">
        <select
          ng-model="cfgSort.initDirection"
          ng-options="dir for dir in cfgSort.initDirectionOptions">
          </select>
        <label>Direction</label>
      </li>
      <li class="list-group-item">
        <select
          ng-model="cfgSort.fetch"
          ng-options="f for f in cfgSort.fetchOptions">
        </select>
        <label title="Applied when fetching repo data">Github Api Keys</label>
      </li>
    </ul>
    <ul class="list-group config" > <h4>In Place Sorting</h4>
      <li class="list-group-item">
        <select
          ng-model="cfgSort.basic"
          ng-options="b.label for b in cfgSort.basicOptions">
          <option value="">-- None --</option>
        </select>
        <label title="Applied when fetching repo data">Repo data</label>
      </li>

      <li class="list-group-item">
        <select
          ng-model="cfgSort.metaProgress"
          ng-options="mp.label for mp in cfgSort.metaProgressOptions">
          <option value="">-- None --</option>
        </select>
        <label title="Applied when fetching repo data">Progress (meta) (not implemented)</label>
      </li>
    </ul>

    <ul class="list-group config" > <h4>Config</h4>
      <li class="list-group-item">
        <input
          type="number"
          ng-model="viewPort.limit"
          ng-pattern="/^\d+$/">
        <label>Repos in View</label>
      </li>
      <li class="list-group-item">
        <input
          type="number"
          ng-model="fetchLimit.unauth">
        <label>Repos to get (unauth)</label>
      </li>
      <li class="list-group-item">
        <input
          type="number"
          ng-model="fetchLimit.auth">
        <label>Repos to get (authed)</label>
      </li>
    </ul>
  </div>
</div>